html {
	box-sizing: border-box;
}
*,
::after,
::before {
	box-sizing: inherit;
}

/*
BARVY
czechitas  #b92e81
pozadi     #bdc3c7
tmava      #31363b
delitka    #3f464d
portfolio  #e74c3c
facebook   #3b5998
twitter    #1da1f2
*/

/*
Pod čáru přijde tvůj kód
-----------------------------------------------
*/

body {
	background-color: #bdc3c7;
	color: white; 
}
.profil {
	background-color: #31363b; 
	max-width: 300px;
	color: #d6d6d6;
	margin-left: auto;
	margin-right: auto;
}
.foto {
	width: 100%;
}
.logo {
	position: absolute;
	right: 110px;
	bottom: -15px;
	background-color: #b92e81;
	border-radius: 50%;
	box-shadow: 2px 3px 5px #292929
}
h1 {
	font-family: "montserrat";
	font-size: 26px;
	color: white;
}
.obsah {
	font-family: "Source Sans Pro";
	padding: 20px 25px;
}
.odkazy {
	font-family: "montserrat";
	padding: 20px;
	text-transform: uppercase;
	padding: 0;
	}
.odkazy a {
	display: block;
	padding: 10px;
	text-decoration: none;	
	outline: none;			
}
.jmeno {
	padding: 20px;
}
a {
	color: inherit;
}
.hlavicka {
	position: relative;
}
.portfolio {
	display: block;
	width: 100%;
}
.obsah {
	padding: 20px;
}
.facebook, 
.twitter {
	display: inline-block;
	width: 49%;
	text-decoration: none;
}
.portfolio,
.facebook,
.twitter {
	text-align: center;
	font-weight: bold;
}
.portfolio {
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	text-decoration: none;
}
.twitter {
	border-left: 1px solid #d4d4d4;
}
.twitter a:hover,
.twitter a:focus {
	background-color: #1da1f2;
}
.facebook a:hover,
.facebook a:focus {
	background-color: #3b5998;
}
.portfolio a:hover,
.portfolio a:focus {
	background-color: #e74c3c;
}